datasets==2.19.1
albumentations==1.4.21
opencv-python-headless==4.10.0.84
evaluate==0.4.0
transformers==4.31.0
numpy==1.26.4
torch==2.5.1
wandb==0.18.7
matplotlib==3.9.2
seaborn==0.12.2
scikit-learn==1.5.1